<div class="min-h-screen">
    <app-header></app-header>
    <div class="mx-auto px-4 py-8 rounded-lg shadow-md content">
        <h2 class="text-3xl font-bold mb-4 text-center text-white">About Us</h2>
    
        <div class="text-lg text-white leading-relaxed">
            <p>Welcome to our platform dedicated to making the part-time job finding process a breeze for both vendors and
                students. At our core, we are a team of passionate individuals committed to revolutionizing the way students
                seek employment opportunities and how vendors find reliable talent.</p>
    
            <p>Our journey began with a simple yet powerful idea: to bridge the gap between vendors with part-time job
                openings and students in search of flexible work arrangements. We understand the challenges faced by both
                parties in this process, from students struggling to find suitable jobs that accommodate their academic
                schedules to vendors grappling with the task of recruiting qualified candidates efficiently.</p>
    
            <p>Driven by a shared vision of fostering meaningful connections and facilitating mutually beneficial
                partnerships, we set out to develop a user-friendly platform that simplifies the job search experience for
                all involved. Our platform serves as a centralized hub where vendors can post job listings tailored to
                part-time positions, and students can explore a diverse range of opportunities.</p>
    
            <p>What sets us apart is our unwavering commitment to providing value to both vendors and students. For
                students, we offer a comprehensive database of part-time job listings spanning various industries and roles,
                allowing them to discover employment opportunities that align with their skills, interests, and
                availability.</p>
    
            <p>For vendors, we provide a streamlined recruitment process, enabling them to reach a large pool of qualified
                candidates efficiently. By leveraging our platform's features, vendors can create job postings, manage
                applications, and connect with potential hires seamlessly.</p>
    
            <p>At the heart of our platform is a dedication to fostering inclusivity, diversity, and equal opportunity for
                all. We believe that every student deserves access to meaningful employment opportunities that enable them
                to gain valuable experience, develop essential skills, and support their academic endeavors.</p>
    
            <p>By empowering students to pursue their career aspirations while balancing their academic commitments, we
                contribute to their personal and professional growth. Likewise, we assist vendors in finding talented
                individuals who can contribute positively to their organizations' success.</p>
    
            <p>Our mission is clear: to empower students and vendors alike to succeed in the part-time job market. We are
                committed to continuously enhancing our platform, listening to user feedback, and adapting to the evolving
                needs of our community.</p>
        </div>
    
        <div class="text-center mt-8">
            <p class="italic text-neutral-50">"Empowering students and vendors alike to succeed in the part-time job market."
            </p>
        </div>
    </div>
</div>