<div class="min-h-screen content">
  <app-header></app-header>
  <!-- student-profile.component.html -->
<h2 class="text-3xl font-medium m-4 text-center">Student Profile</h2>
<form [formGroup]="detailsForm">
  <div class="max-w-lg mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="registrationNumber">
        Registration Number
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="registrationNumber" type="text" placeholder="Registration Number" [readonly]="!editable" formControlName="regNumber">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="name" type="text" placeholder="Name" [readonly]="!editable" formControlName="name">
    </div>
    
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
        Mobile
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="mobile" type="text" placeholder="Mobile" [readonly]="!editable" formControlName="mobile">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="email" type="email" placeholder="Email" [readonly]="!editable" formControlName="email">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="reidence">
        Residence
      </label>
      <input  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="reidence" type="text" placeholder="Reidence" [readonly]="!editable" formControlName="residence">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="skills">
        Skills
      </label>
      <input  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="skills" type="text" placeholder="Skills" [readonly]="!editable" formControlName="skills">
    </div>
    <div class="flex flex-col items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="toggleEdit()">{{ editable ? 'Save' : 'Edit' }}</button>
      <a routerLink="/reset-password" class="text-purple-950 m-2">Change Password</a>
    </div>
  </div>
</form>
  
</div>