<div class="min-h-screen">
  <app-header></app-header>
  <!-- contact-us.component.html -->
<div class="mx-auto mt-2 p-6 bg-white shadow-md rounded-lg">
  <h2 class="text-3xl font-bold mb-4 text-center">Contact Us</h2>
  
  <form [formGroup]="contactForm" (ngSubmit)="submit()">
    <div class="mb-4">
      <label for="email" class="block text-gray-700 font-semibold mb-2">Your Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your email address"
      class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" formControlName="email">
      <p *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid" class="warning">Please enter a valid email</p>
    </div>
    
    <div class="mb-4">
      <label for="subject" class="block text-gray-700 font-semibold mb-2">Subject:</label>
      <input type="text" id="subject" name="subject" placeholder="Enter your query/complaint/issue subject"
      class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" formControlName="subject">
      <p *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.invalid" class="warning">Subject is required and must have atleast 4 characters</p>
    </div>
    
    <div class="mb-4">
      <label for="message" class="block text-gray-700 font-semibold mb-2">Your Message:</label>
      <textarea id="message" name="message" placeholder="Enter your query/complaint/issue message with your UMS ID" rows="4"
      class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" formControlName="message"></textarea>
      <p *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid" class="warning">Message is required and must have atleast 10 characters</p>
    </div>
    
    <div class="mt-6 flex flex-col items-center">
      <p class="warning mb-2" *ngIf="contactForm.invalid">Fill the required fields in correct format</p>
      <button type="submit" class="w-fit bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
      [disabled]="contactForm.invalid">Submit</button>
    </div>
  </form>
</div>

</div>