<div class="min-h-screen content">
    <!-- reset-password.component.html -->
<div class="bg-gray-100 flex flex-col items-center justify-center h-screen">
    <div class="flex flex-col justify-center items-center m-4">
        <img src="/assets/logo-t1.png" alt="" class="w-96">
      </div>
    <div class="bg-white p-8 rounded-lg shadow-md w-2/4">
        <h1 class="text-2xl font-bold mb-4 text-center">Reset Password</h1>
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <div class="mb-4">
                <label for="regNumber" class="block text-gray-700 font-bold mb-2">Registration Nuumber or Vendor Id</label>
                <input type="regNumber" placeholder="Enter your UMS ID" formControlName="regNumber"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <p *ngIf="!userExists" class="warning">User is Not registered.Please register with us to continue</p>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 font-bold mb-2">New Password</label>
                <input type="password" placeholder="Enter your new password" formControlName="entryPassword"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <p class="warning" *ngIf="invalidPass" class="warning">
                    Password must be 8-20 characters long and must have 1 uppercase, 1 lowercase, 1 number, 1 special character
                  </p>
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="block text-gray-700 font-bold mb-2">Confirm New Password</label>
                <input type="password" placeholder="Confirm your new password" formControlName="confirmPassword"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <p class="warning">Password does not match</p>
            </div>
            <div class="flex justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Reset Password
                </button>
                <button type="button" routerLink="/login" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Go Back
                </button>
            </div>
            <!-- <a routerLink="/contact-us">Contact us for any issues</a> -->
        </form>
    </div>
</div>

</div>